@import '../../../assets/shared';

.mobileNavbar {
    background-color: $primary-color;
    @include theme-aware('background-color', 'mainColor');
    z-index: 1;
    height: 100%;

    .navbar__items {
        list-style: none;
        width: 100%;
        padding: 0;
        display: flex;
        flex-direction: column;
        li {
            padding: 20px;
            text-align: left;
            text-decoration: none;
            border-bottom: 0.5px solid white;
        }
    }
}
