@import '../../assets/shared';

.statistics__container {
    display: flex;
    flex-direction: column;

    align-items: center;
    text-align: center;

    .buttons__container {
        display: flex;

        .modeButton {
            margin: 5px;
            border: none;
            background: none;
            margin-inline: 10px;

            &:hover {
                cursor: pointer;
            }
        }
    }

    .statistics__container__contributor {
        display: flex;

        .contributor__container {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-inline: 10px;
        }
        .time__container {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-inline: 10px;
        }

        .number__games {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-inline: 10px;
        }
    }

    .statistics__container__games {
        display: flex;

        .games {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-inline: 10px;
        }

        .hours__played {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-inline: 10px;
        }

        .times__played {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-inline: 10px;
        }
    }

    .statistics__container__players {
        display: flex;

        .players {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-inline: 10px;
        }

        .players__hours__played {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-inline: 10px;
        }
    }
}

.show {
    display: flex;
}

.hide {
    display: none;
}
/* 
@media (min-width: 768px) {
    .statistics-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contributors-container {
        display: flex;
        flex-direction: row;
    }

    .contributor-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-inline: 25px;
    }
    .time-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-inline: 25px;
    }
}
 */
