@import '../../assets/shared';

.login {
    > h2 {
        text-align: center;
    }

    > span {
        text-align: center;
    }

    .facebook__box {
        margin: 30px 0;
        max-width: 225px;
        height: 50px;
        display: flex;
        align-items: center;

        > span {
            width: 100%;
            height: 100%;

            > svg {
                margin-right: -7px;
                width: 100%;
                height: 100%;
            }
        }

        > p {
            white-space: nowrap;
            background-color: #3b5998;
            margin: 0;
            text-align: center;
            color: white;
            padding: 11px;
            border-radius: 1px;
            //    background-color: ;
        }
    }

    .seperator {
        margin-top: 20px;
        display: flex;
        align-items: center;

        > hr {
            width: 100%;
        }

        p {
            margin: 0px 15px;
            font-weight: bold;
            text-align: center;
        }
    }

    .login-forgot {
        > p {
            width: 100%;
            text-align: right;
            a {
                color: #3b5998;
                font-size: 0.7rem;
            }
        }
    }

    .form-buttons {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 10px 0px;
    }
}

@media (min-width: 768px) {
    .login {
        width: 100%;
        padding: 70px;

        h2 {
            font-size: 34px;
            font-weight: bold;
            text-align: center;
        }

        span {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .align__facebook__center {
            display: flex;
            justify-content: center;
            .facebook__box {
                min-width: 225px;
                > span {
                    > svg {
                        margin-right: -8px;
                    }
                }
            }
        }
        .form-buttons {
            margin: 0 auto;
            max-width: 850px;
        }
    }
}
