@import '../../assets/shared';

.some-private-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100%;

  .some-private-page__look {
    color: $primary-color;
  }
}
