@import '../../assets/shared';

.dashboard {
    @include theme-aware('background', 'mainColor');
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;

    &__container {
        margin-top: 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
    }

    h2 {
        margin-bottom: 30px;
    }

    .datepicker-container {
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 10px;
    }

    .statistic {
        margin-bottom: 40px;
    }
}
