@import '../../assets/shared';

.profile {
    max-width: 600px;
    margin: 50px auto;

    > p {
        text-align: center;
    }

    form {
        height: 100%;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        input {
            min-width: 30%;
            width: 600px;
            margin: 2%;
            padding: 0 15px;
            border: none;
            border-radius: 4px;
            height: 44px;
            border-bottom: 1px solid #eee;

            .ant-select {
                min-width: 30%;
                width: 600px;
                margin: 2%;
                border: none;
                border-radius: 4px;
                height: 44px;
            }

            hr {
                width: 100%;
                border: 0;
                height: 1px;
                background: rgba(255, 255, 255, 0.5);
                margin: 10px 0 20px;
            }
        }

        .profile__buttons__container {
            display: flex;
            flex-direction: row;
            width: 100%;

            vr {
                margin: 10px;
            }

            .update__btn {
                border: 1px solid #eee;
                background: linear-gradient(110deg, #2d3047, #5cc5b4);
                width: 100%;
                height: 44px;
                padding: 5px 15px;
                margin-top: 2%;
                border-radius: 5px;
                color: white;
                align-self: flex-start;

                &:hover {
                    background: red;
                }
            }

            .logout__btn {
                border: 1px solid #eee;
                background: linear-gradient(110deg, #2d3047, #f64c75);
                width: 100%;
                height: 44px;
                padding: 5px 15px;
                margin-top: 2%;
                border-radius: 5px;
                color: white;
                align-self: flex-start;

                &:hover {
                    background: red;
                }
            }
        }
    }
}
