@import '../../../assets/shared';

.show-web {
    display: none;
}

.users-wrapper {
    h1 {
        text-align: center;
    }

    .nav-wrapper {
        display: flex;

        justify-content: center;
    }
}

.bold {
    font-weight: bold;
}

.users-info-wrapper {
    display: flex;
    flex-direction: column;

    .users-info-titles {
        display: flex;
        flex-direction: row;
        h2 {
            margin-left: 25px;
        }
    }
    .user-info {
        display: flex;
        flex-direction: row;
        margin-top: 10px;
        p {
            flex: 1;
            margin-left: 25px;
            width: 50;
            height: 25px;
        }
        .buttons-wrapper {
            flex: 1;
            display: flex;
            button {
                margin-inline: 10px;
                width: 50;
                height: 25px;
            }
        }
    }
}

.modal-style {
    position: absolute;
    top: 55%;
    left: 50%;
    right: auto;
    bottom: auto;
    border: 2px solid black;
    margin-right: -50%;
    transform: translate(-50%, -50%);

    text-align: center;
    padding-inline: 5px;

    .modal-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        button {
            background: none;
            border: none;
        }
        > img {
            width: 50px;
            height: 50px;
        }
    }
}

.desactivate-button {
    color: red;
}

.activate-button {
    color: green;
}

/* .avatar {
    width: 100px;
    height: 100px;
} */

@media (min-width: 768px) {
    .users-wrapper {
        h1 {
            text-align: center;
        }
    }

    .show-web {
        display: inherit;
    }

    .users-info-wrapper {
        display: flex;
        flex-direction: column;

        .users-info-titles {
            display: flex;
            flex-direction: row;
            h2 {
                flex: 1;
                margin-left: 25px;
            }
        }
        .user-info {
            display: flex;
            flex-direction: row;
            margin-top: 10px;
            p {
                flex: 1;
                margin-left: 25px;
                width: 50;
                height: 25px;
            }
            .buttons-wrapper {
                flex: 1;
                display: flex;
                button {
                    margin-inline: 10px;
                    width: 50;
                    height: 25px;
                }
            }
        }
    }

    .modal-style {
        position: absolute;
        top: 62%;
        left: 50%;
        right: auto;
        bottom: auto;
        border: 2px solid black;
        margin-right: -50%;
        transform: translate(-50%, -50%);
    }

    .desactivate-button {
        color: red;
    }

    .activate-button {
        color: green;
    }
}
