@import '../../assets/shared';

.title {
    width: 100%;
    text-align: center;

    @include theme-aware('background-color', 'mainColor');

    .modeButton {
        border: none;
        background: none;
        margin-inline: 10px;
    }
    .modeButton:active {
        font-weight: bolder;
    }
}

@media (min-width: 768px) {
    .ranking-container {
        display: flex;
        flex-direction: row;
        justify-content: center;

        .difficulty-container {
            margin-inline: 50px;
        }
    }
}
