@import '../../../assets/shared';

.profile__menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    left: calc(50% - 80px);
    top: calc(100% + 10px);
    background: #ffffff;
    border-radius: 8px;
    border: 1px solid black;
    padding: 15px 5px;

    > a {
        padding: 10px;
        width: 100%;
        text-align: left;
        border-radius: 4px;
        white-space: nowrap;

        &:hover {
            background-color: $primary-color;
        }
        span {
            color: black;
        }
    }
}

.show {
    transition: ease-in-out 0.5s;
}

.hide {
    transition: ease-in-out 0.5s;
    height: 0px;
    border-radius: 0px;
    border: 0px solid black;
    padding: 0px;
    overflow: hidden;
}
