@import '../../../assets/shared';

#draggable-title-games {
    text-align: center;
}
.games-draggable-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .left-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 40%;
        height: 310px;
        border: solid 2px black;

        padding-top: 5px;
    }

    .right-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 40%;
        height: 310px;
        border: solid 2px black;
    }
}

.modal-style {
    position: absolute;
    top: 55%;
    left: 50%;
    right: auto;
    bottom: auto;
    border: 2px solid black;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.pagination-wrapper {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;

    > button {
        background: none;
    }
}

@media (min-width: 768px) {
    .left-wrapper {
        justify-content: flex-start;
        align-items: flex-start !important;
        height: 350px !important;

        > h2 {
            width: 100%;

            text-align: center;
        }

        > div {
            display: flex;
            flex-wrap: wrap;

            .draggable-selected-wrapper {
                display: flex;
                flex-direction: column;
                width: 80px;
                margin-left: 5px;

                > button {
                    width: 80px;
                }
            }
        }
    }
    .right-wrapper {
        justify-content: flex-start;
        align-items: flex-start !important;
        height: 350px !important;

        > h2 {
            width: 100%;

            text-align: center;
        }

        > div {
            display: flex;
            flex-wrap: wrap;

            .draggable-selected-wrapper {
                display: flex;
                flex-direction: column;
                width: 80px;
                margin-left: 5px;

                > button {
                    width: 80px;
                }
            }
        }
    }
}
