//themes
@import 'themes.scss';

$primary-color: #386fa4 !default;
$secondary-color: #fff;
$dark-theme: false;
$other-theme: false;
$secondary-font-color: #454545;

/**
 * theme-aware - Change color of a css property based on the currently active theme
 *
 * @param  {key}     CSS property
 * @param  {color}   Color name defined in the themes under _color-palette.scss
 *
 * @example - @include theme-aware('background', 'color-background');
 * @returns - background: #FFF;
 */
@mixin theme-aware($key, $color) {
    @each $theme-name, $theme-color in $themes {
        .theme-#{$theme-name} & {
            #{$key}: map-get(map-get($themes, $theme-name), $color);
        }
    }
}

$shadow: 0 3px 2px rgba(0, 0, 0, 0.1);
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    margin: 0;
    //@include theme-aware('background', 'mainColor');
}

html,
body,
#root,
.app {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}

.app {
    display: flex;
    flex-direction: column;
}

.app__content {
    flex: 1;
}

a,
a:link,
a:visited,
a:focus,
a:hover,
a:active {
    text-decoration: none;
    color: white;
}

input {
    border-width: 0px;
    background-color: white;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
