@import '../../assets/shared';

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
    text-align: center;
    background: rgb(56, 111, 164);
    background: linear-gradient($primary-color 11%, $secondary-color 3000%);
    @include theme-aware('background', 'linearGradientNavBar');
    z-index: 1;

    .navbar__logo {
        width: 200px;
    }
    .navbar__desktop {
        display: none;
        align-items: center;
        justify-content: space-between;
        padding: 0px 0px 0px 100px;
        width: 100%;

        .navbar__searchbar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: white;
            border-radius: 4px;
            padding: 6px;

            .searchbar_text {
                padding: 5px;
                margin: 0;
                margin-right: 150px;
                white-space: nowrap;
            }

            .searchbar_img {
                width: 20px;
                height: 20px;
            }
        }

        .navbar__items {
            display: flex;
            padding: 0;
            margin: 0;
            align-items: center;
            list-style: none;
            width: 60%;
            justify-content: space-evenly;

            > li {
                font-weight: bold;
                font-size: 22px;
                color: white;
                text-decoration: none !important;

                &:last-child {
                    margin-right: 0;
                }
            }
        }
        .profileMenu__wrapper {
            position: relative;
        }

        .navbar__user {
            display: flex;

            > img {
                width: 50px;
                height: 50px;
            }
            .user_container {
                display: flex;
                flex-direction: column;
                margin-right: 10px;
                align-items: flex-end;
                justify-content: center;

                > p {
                    margin: 0;
                }

                .user__name {
                    font-weight: bold;
                    color: white;
                    margin: 0;
                    white-space: nowrap;
                }

                .user__role {
                    font-weight: bold;
                }
            }
        }
    }

    .navbar__title {
        flex: 1;

        > ul {
            display: flex;
            list-style: none;
            padding: 0;
            margin: 0;

            > li {
                margin-right: 20px;
                padding: 0 20px;
                border-right: solid 1px rgba(black, 0.16);

                &:last-child {
                    border-right: none;
                    margin-right: 0;
                }
            }
        }
    }

    @media (min-width: 768px) {
        padding: 50px 40px;
        .navbar__desktop {
            display: flex;
        }
    }
    /* .navbar__action {
    button {
      padding: 5px 10px;
      border: none;
      box-shadow: $shadow;
      border-radius: 5px;
      background-color: $primary-color;
      color: $secondary-color;
      outline: none;
    }
  } */
}
