@import '../../assets/shared';

.custom-button {
    display: flex;
    justify-content: center;
    padding: 5px 50px 5px 50px;
    background-color: #386fa4;
    @include theme-aware('background-color', 'buttonMainColor');
    color: #fff;
    @include theme-aware('color', 'buttonTextColor');
    border-radius: 3px;
    box-shadow: $shadow;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 10px;
    letter-spacing: 0.2rem;
    border: none;
    cursor: pointer;

    &:hover {
        background-color: #0d4172;
        color: rgb(197, 187, 187);
    }

    @media (min-width: 768px) {
        padding: 10px 50px 10px 50px;
    }
}
