@import '../../assets/shared';

.login-and-signup {
    margin: 5%;
    display: flex;
    justify-content: space-around;
}
.showLogin {
    display: block;
}

.hideLogin {
    display: none;
}

.mobile_register_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    p {
        margin: 0;
        font-size: 10px;
    }

    .mobile_switch_button {
        color: #3b5998;
        background-color: inherit !important;
        margin: 0;
        padding: 0px;
        border: none;
        margin-left: 3px;
        font-size: 14px;
    }
}

@media (min-width: 768px) {
    .login-and-signup {
        margin-top: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .mobile_switch_button {
        display: none;
    }

    .mobile_register_wrapper {
        display: none;
    }
    .showLogin {
        display: block !important;
        width: 100%;
    }
    .hideLogin {
        display: block !important;
        width: 100%;
    }
}
