.response-form{
  display: flex;
  flex-direction: row;
  justify-content: center;

  
  
  > input {
    border: solid 1px black;
    border-radius: 20px;
    margin:10px
    
  }
}

@media (max-width: 768px) {
  
 .response-form{
   flex-direction: column !important;
 }

}