@import '../../assets/shared';

.home {
    top: 0;
    left: 0;
    position: absolute;

    @include theme-aware('background', 'mainColor');
    background: linear-gradient($primary-color 10%, $secondary-color 100%);
    @include theme-aware('background', 'linearGradientHome');
    height: 120%;
    width: 100%;

    .home__bestGames {
        margin-top: 140px;

        .bestGames__title {
            display: flex;
            justify-content: center;
            align-items: center;

            > img {
                height: 30px;
            }

            > h2 {
                color: $secondary-color;
                text-transform: uppercase;
                font-weight: bolder;
                letter-spacing: 0.2rem;
                padding-right: 10px;
            }
        }

        .bestGames_games {
            display: flex;
            overflow: scroll;

            .game__info {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 20px;

                > img {
                    max-width: 50vh;
                    max-height: 100%;
                }

                > p {
                    color: $secondary-font-color;
                    font-size: 25px;
                    text-transform: capitalize;
                }
            }
        }
        @media (min-width: 768px) {
            justify-content: center;
            height: calc(100vh - 140px);
            display: flex;
            flex-direction: column;

            .bestGames_games {
                overflow: inherit;
            }

            .bestGames__title {
                margin-bottom: 50px;
                > h2 {
                    font-size: 40px;
                }

                > img {
                    height: 50px;
                }
            }
        }
    }

    .home__topPlayers {
        margin-top: 80px;
        .topPlayers__title {
            display: flex;
            justify-content: center;
            align-items: center;
            > h2 {
                color: black;
                text-transform: uppercase;
                font-weight: bolder;
                letter-spacing: 0.2rem;
                padding-right: 10px;
            }

            > img {
                height: 30px;
            }
        }
        .topPlayers__Ranking {
            display: flex;
            justify-content: center;

            > img {
                max-width: 80%;
            }
        }

        @media (min-width: 768px) {
            height: 100vh;
            .topPlayers__title {
                > h2 {
                    font-size: 40px;
                }

                > img {
                    height: 50px;
                }
            }
        }
    }

    .home_becomeContributor {
        width: 100%;
        background-color: $primary-color;
        @include theme-aware('background-color', 'mainColor');
        margin-top: 80px;

        .becomeContributor__title {
            color: $secondary-color;
            text-transform: uppercase;
            font-weight: bolder;
            letter-spacing: 0.2rem;
            text-align: center;
            padding-top: 30px;
        }
        .becomeContributor_info {
            display: flex;
            flex-direction: column;

            > img {
                max-width: 100%;
                padding: 20px;
                object-fit: scale-down;
            }

            .info__advantages {
                > ul {
                    list-style: none;
                    padding-inline-start: 40px;

                    > li {
                        display: flex;
                        padding: 10px;
                        color: $secondary-color;
                        font-size: 17px;
                        align-items: center;
                    }

                    > li::before {
                        content: url(../../assets/images/Check.png);
                        margin-right: 20px;
                    }
                }

                > a {
                    display: flex;
                    justify-content: center;
                    margin: 30px;
                    padding: 10px;
                    background-color: #14b8d1;
                    border-radius: 5px;
                    box-shadow: $shadow;
                    text-transform: uppercase;
                    font-weight: bolder;
                    font-size: 17px;
                    letter-spacing: 0.2rem;
                }
            }
        }

        @media (min-width: 768px) {
            .becomeContributor__title {
                font-size: 40px;
            }

            .becomeContributor_info {
                padding: 40px;
                flex-direction: row;
                justify-content: space-around;
                margin-top: 50px;

                .info__advantages {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    > ul {
                        display: flex;
                        flex-direction: column;
                        height: 100%;
                        justify-content: center;
                        padding: 20px;

                        > li {
                            padding: 20px;
                            font-size: 30px;
                        }
                    }
                }
            }
        }
    }
}
