@media (min-width: 768px) {
    .recover-page {
        margin: 0 auto;
        max-width: 850px;
        width: 90vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}