@import '../../../assets/shared';

.complaint-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    > h2 {
        width: 100%;
        text-align: center;
        font-weight: bold;
    }
}
