@import '../../assets/shared';

.theme__page {
    margin: 50px;
}

.themes {
    display: flex;

    > div {
        padding: 40px;
        background-color: black;
        margin: 10px;

        &:hover {
            cursor: pointer;
        }
    }

    .theme__default {
        background-color: $primary-color;
    }
}
