@import '../../../assets/shared';

.complaints {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#complaint-a-id {
    color: black;
    padding: 5px;
    border: solid 1px black;
    border-radius: 5px;
}
