@import '../../assets/shared';

.signup__page {
    padding: 10px;
    > h2 {
        text-align: center;
    }

    > span {
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .signup__form {
        .date__picker {
            margin-top: 40px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            label {
                margin-right: 3px;
            }
        }
    }

    .form-buttons {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 20px 0px;
    }
}

@media (min-width: 768px) {
    .signup__page {
        width: 100%;
        padding: 70px;

        h2 {
            font-size: 34px;
            font-weight: bold;
            text-align: center;
        }

        .signup__form {
            .date__picker {
                justify-content: flex-start;
            }
        }
    }
    .form-buttons {
        margin: 0 auto;
        max-width: 850px;
        display: flex;
        justify-content: space-between;
    }
}
